[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
awsebcli = "*"

[packages]
django = "==2.2.5"
django-countries = "*"
npm = "*"
requests = "*"
pillow = "*"
django-dotenv = "*"
django-seed = "*"
random = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
